<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Pizza Landing Page</title>
    <!-- Box Icons -->
    <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <!-- Link To CSS -->
  <link rel="stylesheet" href="styles.css">

</head>
<body>
    <!-- Navbar -->
    <header>
        <a href="#" class="logo">Pizza Planet</a>
        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navbar">
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="menu.html">Menu</a></li>
            <li><a href="services.html">Service</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="rewards.html">Login</a></li>
            <li><a href="checkout.html">Checkout</a></li>
            <li><a href="cart.html">Cart</a></li>
            <!-- Dark Mode -->
            <div class="bx bx-moon" id="darkmode"></div>
        </ul>
    </header>

    <!-- Cart  -->

    <!-- <div id="app" v-cloak="v-cloak">
        <div class="board">
          <nav>
            <h1>{{title}}</h1><i class="fa fa-shopping-cart" @click="show(neaten_slick)" aria-hidden="true"></i>
          </nav>
          <div class="items">
            <div class="item" v-for="(item,index) in items">
              <div class="img" :style="{backgroundImage:'url('+ item.url +')'}"></div>
              <p class="name">{{item.name}}<span class="price">${{item.price}}</span></p><i class="minus fa fa-minus-square" @click="minus(index)" aria-hidden="true"></i><span>{{item.bought}}</span><i class="add fa fa-plus-square" @click="plus(index)" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="checkout"><i class="cross fa fa-times" @click="close" aria-hidden="true"></i>
          <div class="boxes">
            <div class="cart">
              <h4>CART</h4>
              <ul class="stuff">
                <li v-for="(item,index) in items" v-if="item.show">
                  <div class="img" :style="{backgroundImage:'url('+ item.url +')'}"></div>
                  <div class="detail">
                    <p class="name">{{item.name}}</p>
                    <p class="price">${{item.price}}</p><i class="add fa fa-plus-square" @click="plus(index)" aria-hidden="true"></i><span>{{item.bought}}</span><i class="minus fa fa-minus-square" @click="minus(index)" aria-hidden="true"></i>
                  </div>
                </li>
              </ul>
              <p class="shipping">+ Shipping ${{shipping}}</p>
              <p class="total">Total ${{total}}</p>
            </div>
            <div class="details">
              <div class="card">
                <h3>Credit Card</h3>
                <p class="card-num">{{card.card_number}}</p>
                <div><span class="expires">{{card.expires}}</span><span class="ccv">{{card.ccv}}</span></div>
                <p class="card-holder">{{card.card_holder}}</p>
              </div>
              <form class="detail">
                <div class="item">
                  <p>Card number</p>
                  <input type="number" v-model="card.card_number"/>
                </div>
                <div class="item">
                  <p>Card holder</p>
                  <input type="text" v-model="card.card_holder"/>
                </div>
                <div class="item">
                  <p>Expires</p>
                  <input type="month" v-model="card.expires"/>
                </div>
                <div class="item">
                  <p>ccv</p>
                  <input type="number" v-model="card.ccv"/>
                </div>
                <input class="submit" type="submit" value="Checkout!"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <script src="script.js"></script> -->
    

 <!-- Contact -->
 <section class="contact" id="contact">
    <div class="contact-box">
        <h3>Pizza Planet</h3>
        <span>Connect With Us</span>
        <div class="social">
            <a href="#"><i class='bx bxl-facebook' ></i></a>
            <a href="#"><i class='bx bxl-twitter' ></i></a>
            <a href="#"><i class='bx bxl-instagram' ></i></a>
        </div>
    </div>
    <div class="contact-box">
        <h3>Menu Links</h3>
        <li><a href="home.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="menu.html">Menu</a></li>
        <li><a href="services.html">Service</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="rewards.html">Login</a></li>
        <li><a href="checkout.html">Checkout</a></li>
        <li><a href="cart.html">Cart</a></li>
    </div>
    <div class="contact-box">
        <h3>Quick Links</h3>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="#Privacy Policy">Privacy Policy</a></li>
        <li><a href="#Disclaimer">Disclaimer</a></li>
        <li><a href="#Terms Of Use">Terms Of Use</a></li>
    </div>
    <div class="contact-box address">
        <h3>Contact</h3>
        <i class='bx bxs-map' ><span>1111 Deep Dish Ave</span></i>
        <i class='bx bxs-phone' ><span>+1 222 333 4444</span></i>
        <i class='bx bxs-envelope' ><span>notrealemail@email.com</span></i>
    </div>
</section>

<!-- Copyright -->
<div class="copyright">
    <p>© Matt Larson All Right Reserved.</p>
</div>


<!-- Scroll Reveal -->
<script src="https://unpkg.com/scrollreveal"></script>
<!-- Link To JavaScript -->
<script src="script.js"></script>
</body>
</html>